.profile-container {
    padding: 16px;
    h1{
        margin-bottom: 24px;
    }
}



header {
    background-color: rgba(0,0,0,0.2);
    box-shadow: 5px -5px 5px rgba(0,0,0,0.4);
    margin: 0;
    display: flex;
    align-items: center;
    gap: 35px;
    
    img {
        padding: 0.5rem;
    }
}

mat-card {
    max-width: 400px;
    margin: 24px auto;

}

.w-100 {
    width: 100%;
}

.success {
    color: green;
    margin-top: 8px;
}

.error {
    color: red;
    margin-top: 8px;
}

::ng-deep .mat-snack-bar-container.success {
  background: #16a34a;  // Grün
  color: #fff;
}
