<div class="profile-container">

    <h2>Profil Informationen</h2>

    <div class="userInfo-container">
        <mat-card>
            <form (ngSubmit)="onSave()" [formGroup]="profileForm">

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Display Name</mat-label>
                    <input matInput formControlName="displayName" required>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit"
                    [disabled]="profileForm.invalid || loading">Save</button>

                <div *ngIf="success" class="success">{{ success }}</div>
                <div *ngIf="error" class="error">{{ error }}</div>
            </form>
        </mat-card>


        <div *ngFor="let u of users$ | async">


            <mat-card>
                <p>Email: {{ this.currentUser$!.email || ' Anonym ' }}</p>
                <div *ngIf="u.address.length > 0">
                    <p>Adresse: {{ u.address }}</p>
                </div>
                <div *ngIf="u.phone.length > 0">
                    <p>Telefon: {{ u.phone }}</p>
                </div>

            </mat-card>


        </div>


    </div>



    <div *ngIf="guestProfile">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Private Daten</mat-panel-title>
            </mat-expansion-panel-header>


            <form [formGroup]="editPrivate" (ngSubmit)="savePrivate()">
                <mat-form-field class="w-100">
                    <mat-label>Adresse</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Telefon</mat-label>
                    <input matInput formControlName="phone">
                </mat-form-field><br>

                <button mat-raised-button color="primary" type="submit">Speichern</button>
            </form>

        </mat-expansion-panel>
    </div>
</div>