
<mat-card>
    <img src="ClientSphere_top.png" alt="ClientSphere Logo">
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" type="email" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Passwort</mat-label>
            <input matInput formControlName="password" type="password" required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || loading">
            Login
        </button>
        <div *ngIf="error" class="error">{{ error }}</div>
    </form>
    <a routerLink="/register">Noch keinen Account? - Jetzt registrieren</a>
</mat-card>