<div class="register-container">
<mat-card>
    <img src="ClientSphere_top.png" alt="ClientSphere Logo">
    <h2>Login</h2>
    <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
        <div class="inputContainer">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" type="email" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Passwort</mat-label>
                <input matInput formControlName="password" type="password" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Passwort wiederholen</mat-label>
                <input matInput formControlName="passwordRepeat" type="password" required>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid || loading">
                Register
            </button>
        </div>

        <div *ngIf="error" class="error">{{ error }}</div>
    </form>
    <a routerLink="/login">Sie haben bereits einen Account? - Zum Login</a>
</mat-card>
</div>
