<div class="ticket-container">

    <h2>Neues Ticket</h2>
    <mat-card>
        <div class="ticket-form">
            <form (ngSubmit)="onCreate()" [formGroup]="newTicketForm">

                <!-- Kategorie für das Ticket -->

                <mat-form-field>
                    <mat-label>Bereich auswählen</mat-label>
                    <mat-select formControlName="area">
                        <mat-option value="IT">IT</mat-option>
                        <mat-option value="Marketing">Marketing</mat-option>
                        <mat-option value="QS">QS</mat-option>
                        <mat-option value="Vertrieb">Vetrieb</mat-option>
                        <mat-option value="Management">Management</mat-option>
                        <mat-option value="Produktion">Produktion</mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- 
                #######################################
                -->

                <mat-form-field class="w-100">
                    <mat-label>Titel</mat-label>
                    <input matInput formControlName="title" required>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Beschreibung</mat-label>
                    <textarea matInput formControlName="description" required></textarea>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit"
                    [disabled]="newTicketForm.invalid || loading">Ticket erstellen</button>
                <div *ngIf="error" class="error">{{ error }}</div>
            </form>
        </div>
    </mat-card>

    <h2>Offene Tickets</h2>

    <div *ngFor="let t of openTickets$ | async" class="ticket-card">

        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{ t.title || '- no title -' }}
                </mat-card-title>
                <mat-card-subtitle>
                    {{ t.createdAt.toDate() | date: 'dd/MM/yyyy HH:mm' }}
                    <br />
                    {{ t.userEmail || '- Anonym -' }}
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content *ngIf="editingTicketId !== t.id">
                <p>{{ t.description }}</p>
                <p><strong>Status:</strong> {{ t.status || '-' }}</p>
                <P><strong>Area:</strong> {{ t.area || '-' }}</P>
            </mat-card-content>


            <!-- 🔧 Edit-Modus -->
            <mat-card-content *ngIf="editingTicketId === t.id">
                <form [formGroup]="editForm" (ngSubmit)="onUpdate(t.id!)">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="title" />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>

                    <div class="edit-actions">
                        <button mat-flat-button color="primary" type="submit">Speichern</button>
                        <button mat-button type="button" (click)="cancelEdit()">Abbrechen</button>
                    </div>
                </form>
            </mat-card-content>

            <!-- 🔒 Nur Eigentümer -->
            <mat-card-actions *ngIf="t.userId === currentUserId && editingTicketId !== t.id">
                <button mat-icon-button color="primary" (click)="startEdit(t)">
                    <mat-icon title="Ticket bearbeiten">edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteTicket(t.id!)">
                    <mat-icon title="Ticket löschen">delete</mat-icon>
                </button>

                <!-- Ticket schließen -->
                <div class="actions" *ngIf="t.userId === currentUserId && t.status !== 'closed'">
                    <button mat-stroked-button color="primary" (click)="openCloseDialog(t)">Ticket
                        schließen</button>
                </div>
                <mat-chip selected color="accent" *ngIf="t.status === 'closed'">
                    Geschlossen
                </mat-chip>
            </mat-card-actions>

        </mat-card>

    </div>

    <div style="margin-top: 1.5rem;">
        <mat-expansion-panel style="background-color: rgba(0, 0, 0, 0.05);">
            <mat-expansion-panel-header>
                <mat-panel-title>Geschlossene Tickets</mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let t of closedTickets$ | async" class="ticket-card">

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            {{ t.title || '- no title -' }}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{ t.createdAt.toDate() | date: 'dd/MM/yyyy HH:mm' }}
                            <br />
                            {{ t.userEmail || '- Anonym -' }}
                        </mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <p>{{ t.description }}</p>
                        <p><strong>Status:</strong> {{ t.status || '-' }}</p>
                        <p><strong>Area:</strong> {{ t.area || '-' }}</p>
                    </mat-card-content>
                </mat-card>
            </div>

        </mat-expansion-panel>
    </div>



</div>