<div class="sidenav-container">
    <div class="card-grid">
        <mat-card *ngIf="!dashboardActive" class="card">
            <!-- <mat-card-title>Dashboard</mat-card-title> -->
            <button mat-button color="primary" routerLink="/dashboard">Dashboard</button>
            <mat-card-content>Zurück zum Dashboard</mat-card-content>
        </mat-card>

        <mat-card class="card">
            <!-- <mat-card-title>Mein Profil</mat-card-title> -->
            <button mat-button color="primary" routerLink="/profile">Profil</button>
            <mat-card-content>Persönliche Informationen ansehen und bearbeiten.</mat-card-content>
        </mat-card>

        <mat-card class="card">
            <!-- <mat-card-title>Tickets bearbeiten</mat-card-title> -->
            <button mat-button color="primary" routerLink="/tickets">Tickets</button>
            <mat-card-content>Ein neues Ticket eröffnen oder bestehende schließen.</mat-card-content>
        </mat-card>

        <mat-card class="card">
            <!-- <mat-card-title>Dokumente hochladen</mat-card-title> -->
            <button mat-button color="primary" routerLink="/upload">Hochladen</button>
            <mat-card-content>Dateien hochladen.</mat-card-content>
        </mat-card>
    </div>


</div>